extends ./layout.jade

block scripts

  link(rel='stylesheet' href='/css/nps_generator.css')

  script(src='/js/jquery.matchHeight-min.js')
  
  script.
    $(document).ready( function () {
    $('.equal-height-panels .panel').matchHeight();
    });
    
  // Generate NPS button code  
  script(src="/js/nps_generator.js")
  
block content
  title NPS Generator
  
  // Header div
  div(class="row")
    // We need the offsets here due to the sidebar on the left
    div(class="col-xs-12")
      h1(class="page-header") NPS Generator
  
  //I Stole This From Pika -- blanky
  // Row for the two panels
  div(class="row equal-height-panels")
  
    // Info Panel
    div(class="col-sm-12 col-md-5")
      div(class="panel panel-default")
      
        // Panel Heading
        div(class="panel-heading")
          center
            h4(class="panel-title") Info

        // Panel Body that containing the form with text field that the user will fill out.
        div(class="panel-body")
          form(name="Level Number Field" method="post")
              
            // Level Number Field
            label Level Number
            input(id="levelnumber" type="text" name="levelnumber" class="form-control")
              
    
    // Make NPS image button
    div(class="col-sm-12 col-md-2")
      // On click, execute generateNPSImage function
      button(type="submit" class="btn btn-primary btn-block" onclick='generateNPSImage()') Generate Image

    // NPS Image Panel
    div(class="col-sm-12 col-md-5")
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h4(class="panel-title") NPS Image
              
        // Panel Body containing the NPS Image.
        div(class="panel-body")
          img(id="nps_generator")
            
